@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Generalmaster.cshtml";
}

<style>
    .row::-webkit-scrollbar {
        display: none;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" >
        <video src="~/Content/image/viddeo1.mp4" muted autoplay loop style="width:inherit"></video>
        <div class="row" style="height:40px;background-color:black;margin-top:-5px">
            <img src="~/Content/image/qt1.png" style="margin-left:20px;height:50px;background-color:none"/>
           <span class="fa fa-star" style="font-size: 19px; background-color: black; color: green; margin-right: 318px">
               <span class="text-base" style="font-size:19px;background-color:black;color:white">
                   4.6 rated
               </span> 
            </span>
       <span class="fa fa-thumbs-up" style="font-size: 19px; background-color: black; color: green; margin-left:-180px">
                <span class="text-base" style="font-size:19px;background-color:black;color:white">
                    100% Customised Trips
                </span>
            </span>
       <span class="fa fa-thumbs-up" style="font-size: 19px; background-color: black; color: green; margin-left: 218px">
                <span class="text-base" style="font-size:19px;background-color:black;color:white">
                    95% Visa Success Rate
                </span>
            </span>
         <span class="fa fa-thumbs-up" style="font-size: 19px; background-color: black; color: green; margin-left:100px">
                <span class="text-base" style="font-size:19px;background-color:black;color:white;">
                    24x7 Concierge
                </span>
            </span>
        </div>
 </div>
</div>
<hr />
<div class="container">
    <h3>Our Trending Places</h3>
    <div class="row" style="display:flex;overflow:scroll;">
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t1.png" width="220" height="180" alt="card image cap" style="padding:2%" />
            </a>
        </div>
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t2.png" width="220" height="180" alt="card image cap" style="padding:2%" />
</a>
</div>
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t3.png" width="220" height="180" alt="card image cap" style="padding:2%" />
                </a>
</div>
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t4.png" width="220" height="180" alt="card image cap" style="padding:2%" />
                </a>
</div>
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t5.png" width="220" height="180" alt="card image cap" style="padding:2%" />
                </a>
</div>
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t6.png" width="220" height="180" alt="card image cap" style="padding:2%" />
                </a>
</div>
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t7.png" width="220" height="180" alt="card image cap" style="padding:2%" />
                </a>
</div>
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t8.png" width="220" height="180" alt="card image cap" style="padding:2%" />
                </a>
</div>
        <div class="card" style="width:100">
            <a href="/Home/Destination">
                <img class="card-img-top" src="/Content/image/t9.png" width="220" height="180" alt="card image cap" style="padding:2%" />
                </a>
</div>
     </div>
    </div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" style="background-color:midnightblue; height: 300px;border-radius:20px">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <a href="#">
                        <div class="card" style="width:100">
                            <img class="card-img-top" src="/Content/Image/z1.png" width="160" style="margin-top:90px"/>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="#">
                        <div class="card" style="width:100">
                            <img class="card-img-top" src="/Content/Image/z2.png" width="160" style="margin-top:90px;margin-left:30px" />
                        </div>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="#">
                        <div class="card" style="width:100">
                            <img class="card-img-top" src="/Content/Image/z3.png" width="160" style="margin-top: 90px; margin-left: 60px" />
                        </div>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="#">
                        <div class="card" style="width:100">
                            <img class="card-img-top" src="/Content/Image/z4.png" width="160" style="margin-top: 90px; margin-left: 90px" />
                        </div>
                    </a>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
<hr />

    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <a href="https://www.youtube.com/playlist?list=PLjTevh-UqRnlCUIBPL-kWOp8et8-g5IgN">
                        <video src="~/Content/image/celibrity_2_58c50d78c0.mp4" muted autoplay loop style="width:100%;height:130%;border-radius:20px"></video>
                    </a>
                </div>
                <div class="col-sm-5">
                    <a href="/Home/testimonials">
                        <video src="~/Content/image/testimo.mp4" muted autoplay loop 
                          style="width: 100%; height: 130%; border-radius: 20px">
                        </video>
                    </a>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

<hr />













 



    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="card" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition:0.3s;width:100%;height:180px;border-radius:20px">
                            <img src="Content/image/p1.png" style="width:65%">

                            <p style="margin:9px">We offer easy and convenient flight bookings 
                            with attractive offers.</p>

                        </div>
                    </div>


                    <div class="col-sm-3">
         <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); transition: 0.3s; width: 100%; height:180px;border-radius:20px">
                            <img src="Content/image/p2.png" style="width:73%">

                          <p style="margin:10px">We are Here For You Giving the Best Destination According To Your Intrest and Budget Friendly Prize</p>

                        </div>
                    </div>

                    <div class="col-sm-3">
              <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); transition: 0.3s; width: 100%; height:180px;border-radius:20px">
                            <img src="Content/image/p3.png" style="width:70%">

                            <p style="margin:10px">Our Team are Here To Giving Best Guide in Your Travel Time</p>

                        </div>
                    </div>


                    <div class="col-sm-3">
                            <div class=" card" style=" box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);transition: 0.3s;width:100%;height:180px;border-radius:20px">
                            <img src="Content/image/p4.png" style="width:75%">

                            <p style="margin:10px">Get assistance 24/7 on any kind of travel related query. We are happy to assist you.</p>

</div>
                       
                    </div>
                </div>
            </div>

        </div>
    </body>
    <hr />
    <div class="btn-group btn-group-justified">
        <a href="/Home/Destination" class="btn btn-primary">Book Now</a>
    </div>
    <hr />

    <h3 style="text-align:center">What the press says</h3>
    <hr />


    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <img src="~/Content/image/images.png" style="width:90%;cursor:pointer"/>
            </div>
            <div class="col-sm-2">
                <img src="~/Content/image/hindu.png" style="width: 86%; cursor: pointer" />
            </div>
            <div class="col-sm-2">
                <img src="~/Content/image/economic.png" style="width: 86%; cursor: pointer" />
            </div>
            <div class="col-sm-2">
                <img src="~/Content/image/nascom.png" style="width: 87%; cursor: pointer" />
            </div>
            <div class="col-sm-2">
                <img src="~/Content/image/toi.png" style="width: 87%; cursor: pointer" />
            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>

<body>
    <!-- Start of ChatBot (www.chatbot.com) code -->
    <script type="text/javascript">
        window.__be = window.__be || {};
        window.__be.id = "657021e71490f0000724188e";
        (function () {
            var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
            be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
        })();
    </script>
    <noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
    <!-- End of ChatBot code -->
</body>
