@{
    ViewBag.Title = "Publish";
}
  
<body>
    <h1 style="padding-left:40%">this is my home page </h1>
    
    <img src="~/Content/z/Screenshot%20(131).png" style="width:100% ;margin-bottom:10%"/>
   
    <img src="~/Content/z/Screenshot%20(132).png" style="width: 100%; margin-bottom: 10%" />
    
    <img src="~/Content/z/Screenshot%20(133).png" style="width: 100%; margin-bottom: 10%" />
   
    <img src="~/Content/z/Screenshot%20(134).png" style="width: 100%; margin-bottom: 10%" />
   
    <h1 style="padding-left:40%">This is user destination page</h1>
  
    <img src="~/Content/z/Screenshot%20(135).png" style="width: 100%; margin-bottom: 10%" />
    
    <h1 style="padding-left:40%">this is user contactus page</h1>
   
    
    <img src="~/Content/z/Screenshot%20(137).png" style="width: 100%; margin-bottom: 10%" />

    <h1 style="padding-left:40%">this is home signup page</h1>
    <img src="~/Content/z/Screenshot%20(138).png" style="width: 100%; margin-bottom: 10%" />
    <h1 style="padding-left:40%">this is home login page</h1>
    <img src="~/Content/z/Screenshot%20(139).png" style="width: 100%; margin-bottom: 10%" />
    <h1 style="padding-left:40%">this is manager dashboard afterlogin </h1>
    <img src="~/Content/z/Screenshot%20(140).png" style="width: 100%; margin-bottom: 10%" />
</body>