@{
    ViewBag.Title = "testimonials";
    Layout = "~/Views/Shared/Generalmaster.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h1>Setting industry benchmarks for Customer Delight!</h1>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="~/Content/image/aa2.jpg" height="250"width="500" style="border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"/>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <h3 class="color-base bold">Srishti Shukla</h3>
                    <h4 class="color-base dim">Travelled To Maldives For Honeymoon in oct23</h4>
                    <br />
                    <p class="color-gray">Extremely delighted to have connected with PYT for a trip to Maldives. Very well planned, smooth and amazing trip! Special call out to Ramya and Lionell for their support and guidance throughout.</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="~/Content/image/a1.jpeg" height="250" width="500" style="border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <h3 class="color-base bold">Srishti Shukla</h3>
                    <h4 class="color-base dim">Travelled To Maldives For Honeymoon in oct23</h4>
                    <br />
                    <p class="color-gray">Extremely delighted to have connected with PYT for a trip to Maldives. Very well planned, smooth and amazing trip! Special call out to Ramya and Lionell for their support and guidance throughout.</p>
                </div>
            </div>
        </div>
    </div>
</body>


